@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #081b29;
    color: aliceblue;
    font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
    background-color: #081b29;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

div .menuB {
    background-color: aliceblue;
}

#logo {
    color: aliceblue;
    font-size: 50px;
    text-decoration: none;
    font-weight: 100;
    display: flex;


}

#logo span {
    font-size: 40px;
    color: #3498db;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    margin-right: 35px;
    transition: .3s;
    color: aliceblue;
    

}

.navbar a:hover {
    color: 00abf0;
}

.Home {
    display: flex;
 
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content h1 {
    font-size: 56px;
    font-weight: 600;
    max-width: 600px;
    font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.content h3 {
    color: rgb(27, 103, 109);
    font-size: 32px;
    font-weight: 700;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

section p {
    color: rgb(133, 211, 211);
    font-weight: 700;
    width: 80%;
    position: relative;
    

}

.Home .content span {
    color: aqua;
}

img {
    width: 36%;
   
    
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
 
.home-btn {
    display: flex;
    gap: 60px;
    width: 400px;
    padding-top: 40;
    font-size: 35px;
    color: aliceblue;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#Project{
    margin: 150px 0;
   
}

.fa-instagram {
    color: aliceblue;

}

.fa-instagram:hover {
    color: rgb(253, 27, 121);
    transition: .3s;
}

.fa-facebook {
    color: aliceblue;
}

.fa-facebook:hover {
    color: rgb(22, 53, 156);
    transition: .3s;
}

.fa-github {
    color: aliceblue;
    transition: .3s;
}

.fa-github:hover {
    color: rgb(14, 7, 7);
    transition: .3s;
}

.fa-x-twitter {
    color: aliceblue;
}

.fa-x-twitter:hover {
    color: black;
    transition: .3s;
}


.fa-star-half-stroke {
    color: antiquewhite;
}
#About{
    margin: 90px 1px;
}
.about{
    display: flex;
    justify-content: center;
    color: rgb(191, 243, 245);
}
#p1,
#p2,
#p3,
#p4 {
    color: rgb(133, 211, 211);
    padding-left: 0px;
    padding-top: 50px;
    width: 50%;
    left: 0%;
    top: 10%;
    bottom: 1;
    margin: 50;
    font-weight: 400;
}

p span {
    padding-left: 21px;
}

.skill {
    
    width: 900px;
    margin: 95px auto;
    color:rgb(173, 231, 233);
    padding: 20px;
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.22);
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

h1 {
    text-align: center;
}

h3 {
    margin: 5px;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 10x #0000004d;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 20px rgb(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.bar:hover {
    box-shadow: 0 14px 20px rgb(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(3, 10, 97)0%, rgb(87, 201, 221)100%);

}

.html {
    width: 70%;
    animation: html 3s;
}

.css {
    width: 30%;
    animation: css 3s;
}

.java {
    width: 48%;
    animation: java 3s;
}
.js{
    width: 50%;
    animation: java 3s;
}


@keyframes html {

    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 48%;
    }
}
@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

#fa-java,
#fa-html5,
#fa-css3-alt,
#fa-square-js {
    font-weight: 400;
}

li h3 span {
    font-size: 75%;
    padding-left: 20%;
}

li h3 span .lijava {
    font-size: 75%;
    padding-left: 20%;


}
button {
    
    border: 1px solid #3498db;
    width: 100px;
    display: flex;
    background-color: transparent;
    border-radius: 12px;
    color: beige;
    justify-content: center;
    position: relative;
    right: -150;
    /* text-align: center; */
    top: 50;
}
button:hover {
    color: aqua;
    background-color: rgb(7, 51, 54);
    transition: 0.8s;
}
.main{
    width: 334px;
    margin: 100;
}
.Project{
color:rgb(170, 239, 241);

display: flex;
justify-content: center;
position: relative;
top: -65px;

}
.Portfolio{
    display: flex;
    justify-content: center;
    min-height: 1000px;
    flex-direction: column;
    align-items: center;
}

.img-port{
    font-size: 100;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 145px;
    text-decoration: none;
    color: transparent;
    
}
.view{
    display: flex;
    justify-content: center;
    position: relative;
    top:5px;
    color: rgb(13, 192, 236);
    
}
#Contact{
   
}

#Contact h2 {
    color: rgb(138, 228, 231);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 65px;
    
}
div #aaa{
    position: relative;
    color: aqua;
    text-decoration: none;
    
}
#aaa span{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.navbar i{
    display: none;
}
.nav2{
    display: none;
}

.info {
    display: block;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

}

#Contact h5 {
    margin-bottom: 27px;
    font-size: 18px;
}

.copy {
   
    background-color: #353b48;
    width: 100%;
    height: 20px;

}
.fa-copyright{
    position: relative;
    top: 3px;
}
.copy h6 {

    display: flex;
    justify-content: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    

}
.fa-arrow-up{
 
    position: relative;
    right: 10%;
    bottom: 10%;
    color: aqua;
    font-size: 30px;
    
}


#Contact form button {
    color: #fff;
}

.toggle_btn {
    color: aliceblue;
    cursor: pointer;
    display: flex;

}

.dropdown_menu {
    
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    height: 0;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown_menu li {
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown_menu li a {
    color: aliceblue;
    text-decoration: none;
}

.dropdown_menu li a:hover {
    color: aqua;
}
.fa-map-marker-alt,
.fa-phone,
.fa-envelope,
.fa-whatsapp{
    color: #3498db;
}


  /* mobile potrait*/
@media(max-width:480px) {
    .Home{
        display: flex;
        flex-direction: column;
 
    
}
.main {
    width: 197px;
    margin: 10px;
}
.img-port{
    position: relative;
    left: 1;
}
.mahesh{
  display: flex;
  font-size: 29px;
}
#logo span {
    font-size: 17px;
}
.skill{
            width: 376px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        left: 1px;
}
.content{
    display: flex;
    position: relative;
    top: 35px;
    justify-content: center;
    align-items: center;
}

.content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}
.content h3{
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
}
section p{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.home-btn{
    display: flex;
    column-gap: 0;
    align-content: center;
    justify-content: space-evenly;
}
.Portfolio{
    display: flex;
   justify-content: center;
}
button{
    display: flex;
    position: relative;
    left: 1px;
    top: 26px;
}
.about{
    position: relative;
    top: 30px;
}
#p1,
#p2,
#p3,
#p4 {
    display: flex;
    position: relative;
    left: 27px;
    width: 306px;
    margin: 26px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.img2{
    position: relative;
    width: 244px;
}
.view{
    position: relative;
    left: 15px;
    width: 306px;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap
}
}

@media screen and (min-width:482px) and (max-width: 900px) {
    
    #Contact h2{
        position: relative;
        display: flex;
        left: 96px;
    }
    .info{
        display: flex;
        position: relative;
        left: 92px;
    }
.copy{
    width: 900px;
}
    .main{
        display: flex;
        position: relative;
        left: -59px;
    }
    .content{
        display: flex;
        position: relative;
        right: 73px;
    }
    .header{
        width: 898px;
    }
    .about{
        display: flex;
        position: relative;
        left: 90px;
    }
    .Project{
        display: flex;
        position: relative;
        left: 90px;
    }
    .img2{
        position: absolute;
        left: 328px;
    }
    .img-port{
        position: relative;
        left: 94px;
    }
   
input{
    display: none;
    
}}
@media (max-width:481px) {
    .navbar a{
        display: none;
    }
    .nav2{
        position: absolute;
        top: 46px;
        flex-direction: column;
        align-items: center;
        background-color: #081b29;
        display: flex;
        height: 1000px;
        width: 100%;
        display: none;
    }
    .nav2 a {
        padding-top: 50px;
        padding-bottom: 20px;
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
    }
    .nav2 a:hover{
        color:#3498db;
    }
    .navbar i{
        position: absolute;
        right: 30px;
        top: 20px;
        display: block;
        font-size: 20px;
    }
    .navbar .fa-x{
        position: absolute;
        right: 30px;
        top: 20px;
        display: none;
        font-size: 20px;
    }
}