@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    color: aliceblue;
    font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #081b29;
}

.header {
    background-color: #081b29;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    right: 1;
    left:1;
}

div .menuB {
    background-color: aliceblue;
}

#logo {
    color: aliceblue;
    font-size: 50px;
    text-decoration: none;
    font-weight: 100;
    display: flex;
}

#logo span {
    font-size: 40px;
    color: #3498db;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    margin-right: 35px;
    transition: .3s;
    color: aliceblue;
}

.navbar a:hover {
    color: 00abf0;
}

section .Home,.skill,#About{
min-height: 100vh;
}

.Home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content h1 {
    font-size: 56px;
    font-weight: 600;
    max-width: 600px;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content h3 {
    color: rgb(35, 66, 66);
    font-size: 32px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-bottom: 15px;
}
#mahesh{
    color: rgb(41, 230, 255);
}

.Home .content span {
    color: aqua;
    
}

img {
    width: 36%;
   
    
}

.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  .res-btn-a{
  color: #0ba1a1;
  }
  
 
.home-btn {
    display: flex;
    gap: 60px;
    width: 400px;
    padding-top: 40;
    font-size: 35px;
    color: aliceblue;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#Project{
    margin: 150px 0;
   
}

.fa-instagram {
    color: aliceblue;

}

.fa-instagram:hover {
    color: rgb(253, 27, 121);
    transition: .3s;
}

.fa-facebook {
    color: aliceblue;
}

.fa-facebook:hover {
    color: rgb(22, 53, 156);
    transition: .3s;
}

.fa-github {
    color: aliceblue;
    transition: .3s;
}

.fa-github:hover {
    color: rgb(14, 7, 7);
    transition: .3s;
}

.fa-x-twitter {
    color: aliceblue;
}

.fa-x-twitter:hover {
    color: black;
    transition: .3s;
}


.fa-star-half-stroke {
    color: antiquewhite;
}
#About{
    margin: 90px 1px;
}
.about{
    display: flex;
    justify-content: center;
    color: rgb(191, 243, 245);
    padding-top: 73px;
}
#p1,
#p2,
#p3,
#p4 {
    color: rgb(133, 211, 211);
    padding-left: 0px;
    padding-top: 50px;
    width: 50%;
    left: 0%;
    top: 10%;
    bottom: 1;
    margin: 50;
    font-weight: 400;
}

p span {
    padding-left: 21px;
    color: #081b29;
}

.skill {
    
    width: 900px;
    margin: 95px auto;
    color:rgb(173, 231, 233);
    padding: 20px;
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.25), 0 10px 100px rgba(0, 0, 0, 0.22);
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

h1 {
    text-align: center;
}

h3 {
    margin: 5px;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 10x #0000004d;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 20px rgb(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.bar:hover {
    box-shadow: 0 14px 20px rgb(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(3, 10, 97)0%, rgb(87, 201, 221)100%);

}

.html {
    width: 70%;
    animation: html 3s;
}

.css {
    width: 30%;
    animation: css 3s;
}

.java {
    width: 48%;
    animation: java 3s;
}
.js{
    width: 50%;
    animation: java 3s;
}



@keyframes html {

    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 48%;
    }
}
@keyframes js {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

#fa-java,
#fa-html5,
#fa-css3-alt,
#fa-square-js {
    font-weight: 400;
}

li h3 span {
    font-size: 75%;
    padding-left: 20%;
}

li h3 span .lijava {
    font-size: 75%;
    padding-left: 20%;


}
.Resume {
    
    border: 1px solid #3498db;
    width: 100px;
    display: flex;
    background-color: transparent;
    border-radius: 12px;
    color: beige;
    justify-content: center;
    position: relative;
    right: -150;
    /* text-align: center; */
    top: 50;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    position: relative;
    max-width: 600px;
    border-radius: 10px;
}

.Resume:hover {
    color: aqua;
    background-color: rgb(7, 51, 54);
    transition: 0.8s;
}
.main{
    width: 334px;
    margin: 100;
    filter: drop-shadow(0px 0px 19px rgb(27, 154, 185));
}
.Project{
color:rgb(170, 239, 241);
padding-top: 11%;
display: flex;
justify-content: center;
position: relative;
top: -65px;
}
.Portfolio{
    display: flex;
    justify-content: center;
    min-height: 800px;
    flex-direction: column;
    align-items: center;
}

section#Contact{
   padding-top: 142px;
   position: relative;
   bottom: 20px;
}


.img-port{
    font-size: 100;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 145px;
    text-decoration: none;
    color: transparent;
    
}
.view{
    display: flex;
    justify-content: center;
    position: relative;
    top:5px;
    color: rgb(13, 192, 236);
    
}

#Contact h2 {
    color: rgb(138, 228, 231);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 65px;
    
}
.typed-cursor {
    display: none;
}

div #aaa{
    position: relative;
    color: aqua;
    text-decoration: none;
    
}
#aaa span{
    display: flex;
    position: relative;
    flex-direction: column;
    text-decoration: none;
    left: 3px;
}
#abtimg{
    display: flex;
    position: absolute;
    right: 55px;
    top: 900px;
    width: 400;
}
.navbar i{
    display: none;
}
.nav2{
    display: none;
}

.info {
    display: block;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

}

#Contact h5 {
    margin-bottom: 27px;
    font-size: 18px;
}

.copy {
   
 
    height: 20px;

}
.fa-copyright{
    position: relative;
    top: 3px;
}
.copy h6 {

    display: flex;
    justify-content: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    

}
.fa-arrow-up{
 
    position: relative;
    right: 10%;
    bottom: 10%;
    color: aqua;
    font-size: 30px;
    
}


#Contact form button {
    color: #fff;
}

.toggle_btn {
    color: aliceblue;
    cursor: pointer;
    display: flex;

}

.dropdown_menu {
    
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    height: 0;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown_menu li {
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown_menu li a {
    color: aliceblue;
    text-decoration: none;
}

.dropdown_menu li a:hover {
    color: aqua;
}
.fa-map-marker-alt,
.fa-phone,
.fa-envelope,
.fa-whatsapp{
    color: #3498db;
}


  /* mobile potrait*/
@media(max-width:1202px) {
    body{
        margin:10px;
    }
    .Home{
        display: flex;
        flex-direction: column;
        padding-top: 66px;
        height: 60vh;
        min-height: 80vh;
        
}
#About{
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Project{
    
        padding-top: 80px;
        padding-right: 50px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
}
.main {
    width: 197px;
    margin: 10px;
}
.img-port{

}

.mahesh{
  display: flex;
  font-size: 29px;
}
#logo span {
    font-size: 17px;
}
#abtimg{
    position: relative;
    top: 50px;
    display: none;
    left: 18%;
    width: 274px;
}
.skill{
        max-width:300px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        
}
.content{
    display: flex;
    position: relative;
    top: 35px;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}
.content h3{
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
}
section p{
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}
.home-btn{
    display: flex;
    column-gap: 0;
    align-content: center;
    justify-content: space-evenly;
}
.Portfolio{
    display: flex;
   justify-content: center;
}
.res-btn{
    padding-right: 70%;
    text-decoration: none;
    color:#125e5e;
}
.about{
    position: relative;
    top: 30px;
}
#p1,
#p2,
#p3,
#p4 {
    color: rgb(133, 211, 211);
    display: flex;
    width: 306px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 30px;
}
.home-cont{
    margin-left: 11px;
    max-width: 16rem;
}
.img2{
    position: relative;
    width: 244px;
}
.Project{
    padding-left: 10%;
}
.view{

    width: 306px;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap
}
}

@media screen and (min-width:482px) and (max-width: 1201px) {
   
    .navbar {
        position: relative;
        top: 7px;
        padding-left: 34px;
    }
   .navbar a {
  
    font-size: 13px;
   }
   .copy h6 {
    display: none;
   }
   #aaa span {
    display: none;
   }
   .fa-arrow-up:before {
    display: none;
   }
   section#Contact{
    display: flex;
    margin-right: 223px;
   }
    #abtimg{
        display: none;
    }
    #Contact h2{
        position: relative;
        display: flex;
        left: 96px;
    }
    #About {
        position: relative;
        top: 100px;
    }
    .info{
        display: flex;
        position: relative;
        left: 92px;
    }
.copy{
   margin-left: 33%;
}
    .main{
        display: flex;
    } .content {
            display: flex;
            padding-bottom: 1111;
    }
    .header{
        width: 96%;
        position: fixed;
        left: 0;
    }
    .about{
        display: flex;
    }
    #Project{
     min-height: 100vh;   
    }
    .img2{
        position: relative;
        
    }
    .img-port{
        position: relative;
        left: 12px;
        bottom: 275px;
    }
    
     #Contact{ display: flex;
         flex-direction: column; 
         margin-left: 7%; 
         justify-content: center;
          align-items: center; }
    .view{
        margin: 64px;
    }
    .form{
        position: relative;
        top: 50px;
    }

 #abtimage{
    position: relative;
    bottom: 700px;
    left: 300px;
}}
@media (max-width:670px) {
   
    .navbar a{
        display: none;
    }
    
    .nav2{
        position: fixed;
        top: 0;
        flex-direction: column;
        align-items: center;
        background-color: #081b29;
        z-index: 999;
        display: flex;
        height: 100vh;
        width: 100%;
        left: 1px;
        display: none;
        z-index: 3;
    }
    .Home .content span {
        margin-left: 15px;
    }
    .nav2 a {
        padding-top: 50px;
        padding-bottom: 20px;
        text-decoration: none;
        color: aliceblue;
        font-size: 20px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        margin-top: 16px;
    }
    .nav2 a:hover{
        color:#3498db;
    }
    .navbar i{
        position: absolute;
        right: 30px;
        top: 20px;
        display: block;
        font-size: 20px;
    }
    .navbar .fa-x{
        position: absolute;
        right: 30px;
        top: 20px;
        display: none;
        font-size: 20px;
        z-index: index 3;
    }
   
}
/* WebKit-based browsers */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0ba1a1;
}

::-webkit-scrollbar-thumb {
    background:  #0ba1a1;
}

::-webkit-scrollbar-thumb:hover {
    background:  #0ba1a1;
}

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color:  #0ba1a1  #081b29;
}  
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* Initially hide the body content */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add a spinner inside the loader */
#loader:after {
    content: "";
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0dbec4;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 0 0 37px;
}

.container1 .card1{
    position: relative;
    width: 350px;
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    transition: 0.5s;
}
.container1 .card1:hover{
    height: 350px;
}
.container1 .card1 .imgbox{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background-color: black;
    transition: .5s;
    border-radius: 12px;
   overflow: hidden;
}
.container1 .card1:hover .imgbox{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
}
.container1 .card1 .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container1 .card1 .content1{
    position: absolute;
    top: 250px;
    padding: 0 30px;
    width: 100%;
    height: 35px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.container1 .card1:hover .content1{
    top: 130px;
    height: 200px;
}
.container1 .card1 .content1 h2{
    font-size: 1.5rem;
    position: relative;
    color:#163c57;
    font-weight: 700;
}
.container1 .card1 .content1 p{
    color: #125e5e;
    font-size: 1rem; 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: 11;
}
.container1 .card1 .content1 button{
    position: relative;
    top: 40px;
    padding: 10px 20px;
    background-color: var(--col);
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
}
form h3{
    color: #fff;
    font-weight: 800;
    margin-bottom: 20px;
    color: #0dbec4;
}
form input, form textarea{
    border: 0;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;

}
.form #submit-form{
    padding: 15px;
    background-color: #26a0a0;
    color: #d8feff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
.info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}
#arrow-up{
    display: flex;
    align-items: center;
    justify-content: center;
}